@require "../var/color.styl"

// button
$btn-color := $brand-primary

$btn-default-color := $fill-base
$btn-primary-color := $brand-primary
$btn-danger-color:= $brand-error

$btn-default-bgc := $fill-base
$btn-primary-bgc := $brand-primary
$btn-danger-bgc := $brand-error

$btn-default-border := $border-color-base
$btn-primary-border := $brand-primary
$btn-danger-border := $brand-error

$btn-disabled-bgc := $fill-disabled