// font-size vars
$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large-xx = 20px
$fontsize-large-x = 18px
$fontsize-large = 16px
$fontsize-medium = 14px
$fontsize-small = 12px
$fontsize-small-s = 10px

// radius-size
$radius-size-medium = 5px

// 圆角
// ---
$radius-xs = 2px
$radius-sm = 3px
$radius-md = 5px
$radius-lg = 7px
$radius-circle = 50%

// 边框尺寸
// ---
$border-width-sm = 1px
$border-width-md = 1px
$border-width-lg = 2px

// 间距
// ---
// 水平间距
$h-spacing-sm = 5px
$h-spacing-md = 8px
$h-spacing-lg = 15px

// 垂直间距
$v-spacing-xs = 3px
$v-spacing-sm = 6px
$v-spacing-md = 9px
$v-spacing-lg = 15px
$v-spacing-xl = 21px

// 高度
// ---
$line-height-base = 1           // 单行行高
$line-height-paragraph = 1.5    // 多行行高

// 图标尺寸
// ---
$icon-size-xxs = 15px
$icon-size-xs = 18px
$icon-size-sm = 21px
$icon-size-md = 22px       // 导航条上的图标、grid的图标大小
$icon-size-lg = 36px

// 组件变量
// ---
$actionsheet-item-height = 50
$actionsheet-item-font-size = 18px

$link-button-fill-tap = #ddd
$link-button-font-size = 16px