@font-face
  font-family: "afo-icon"
  src:
    url("./afoicon.woff") format("woff"),
    url("./afoicon.ttf") format("truetype")

[class^="afo-icon-"], [class*=" afo-icon-"]
  font-family: "afo-icon"!important
  font-size: 100%
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.afo-icon-eye-invisible::before
  content: "\e624"

.afo-icon-eye-visible::before
  content: "\e625"

.afo-icon-square-right::before
  content: "\e67d"

.afo-icon-select::before
  content: "\e609"

.afo-icon-pulldown::before
  content: "\e603"

.afo-icon-pullup::before
  content: "\e604"

.afo-icon-more::before
  content: "\e607"

.afo-icon-back::before
  content: "\e608"

.afo-icon-arrow::before
  content: "\e60b"

.afo-icon-close::before
  content: "\e60d"

.afo-icon-warn::before
  content: "\e614"

.afo-icon-question::before
  content: "\e616"

.afo-icon-right::before
  content: "\e617"

.afo-icon-wrong::before
  content: "\e618"

.afo-icon-info::before
  content: "\e619"

.afo-icon-remove::before
  content: "\e61a"

.afo-icon-add::before
  content: "\e61c"

.afo-icon-share::before
  content: "\e631"

.afo-icon-no-wifi::before
  content: "\e632"

.afo-icon-smile::before
  content: "\e634"

.afo-icon-sad::before
  content: "\e636"

.afo-icon-email::before
  content: "\e637"

.afo-icon-game::before
  content: "\e638"

.afo-icon-wifi::before
  content: "\e639"

.afo-icon-hot::before
  content: "\e63b"

.afo-icon-notification::before
  content: "\e63d"

.afo-icon-delete::before
  content: "\e63e"

.afo-icon-vip::before
  content: "\e63f"

.afo-icon-mute::before
  content: "\e640"

.afo-icon-danger::before
  content: "\e641"

.afo-icon-volume::before
  content: "\e642"

.afo-icon-bad::before
  content: "\e643"

.afo-icon-mobile-phone::before
  content: "\e644"

.afo-icon-aim::before
  content: "\e645"

.afo-icon-navigation::before
  content: "\e64d"

.afo-icon-safe-pay::before
  content: "\e64e"

.afo-icon-tag::before
  content: "\e64f"

.afo-icon-lock::before
  content: "\e651"

.afo-icon-unlock::before
  content: "\e652"

.afo-icon-edit::before
  content: "\e653"

.afo-icon-scan::before
  content: "\e654"

.afo-icon-qr-code::before
  content: "\e655"

.afo-icon-calendar::before
  content: "\e659"

.afo-icon-time::before
  content: "\e65f"

.afo-icon-red-packet::before
  content: "\e664"

.afo-icon-star::before
  content: "\e668"

.afo-icon-setting::before
  content: "\e669"

.afo-icon-home::before
  content: "\e66d"

.afo-icon-credit-card::before
  content: "\e66e"

.afo-icon-mall::before
  content: "\e670"

.afo-icon-microphone::before
  content: "\e673"

.afo-icon-search::before
  content: "\e674"

.afo-icon-good::before
  content: "\e675"

.afo-icon-alert::before
  content: "\e676"

.afo-icon-picture::before
  content: "\e677"

.afo-icon-message::before
  content: "\e678"

.afo-icon-phone::before
  content: "\e67a"

.afo-icon-location::before
  content: "\e67b"

.afo-icon-like::before
  content: "\e67c"

.afo-icon-camera::before
  content: "\e67e"

.afo-icon-person::before
  content: "\e67f"

.afo-icon-round-border::before
  content: "\e683"

.afo-icon-important::before
  content: "\e68b"

.afo-icon-ok::before
  content: "\e68c"

.afo-icon-square-border::before
  content: "\e990"
